<form action="/recipes" method="POST">
	<label for="">Name</label>
	<input type="text" name="name" value="">
	<label for="">Ingredients</label>
	<input type="text" name="ingredients" value ="">
	<label for="">Cook Time</label>
	<input type="text" name="cook_time" value="">
	<input type="submit" value="submit">
</form>